body {
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
}
/*
.mainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
*/
.container {
    background-color: darkorange;
    color: darkred;
    font: Arial;
    border: black;

    height: 100px;
    width: inherit;
    margin-left: 20px;
    margin-right: 20px;
}

.values {
    background-color: deepskyblue;
    color:darkred;
    border:wheat;

    margin-right: 20px;
    height: inherit;
    width: 30px;
}
