body {
  background-color: #202020;
  min-height: 380px;
  min-width: 280px;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.value {
  color:white;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.icon {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  width: 50%;
}
